body{background:#666;color:#eee}
header{background-color:#111;height:10%;width:100%;}
header h1{font-size:16px;margin:0;position:relative}
header a{color:#ccc;display:inline-block;margin:0;padding:.1em}
#slide{boder:1px #222 solid;height:40%;position:relative;width:100%}
figure{height:40%;position:relative;width:100%;}
figure img{height:40%;opacity:.4;position:relative;width:100%}
figure img:hover{opacity:1}
.titular{position:relative}
